mixin checkout-user
    .checkout-user
        .checkout-user__tabs
            ul
                li.is-active: span Физическое лицо
                li: span Юр. лицо
        .checkout-user__tabs-container

            .checkout-user__tabs-item.is-active
                .form
                    .form__item
                        .form__subitem
                            +input-material-required('text', 'ФИО <span class=star-required >*</span>')
                    .form__item
                        .form__subitem
                            +input-material-required('email', 'Email <span class=star-required >*</span>')
                    .form__item
                        .form__subitem
                            .multi-mask
                                .input-material
                                    input(type='text' max-length="60" required)
                                    label= 'Контактный телефон'

            .checkout-user__tabs-item
                .form
                    .form__item
                        .form__subitem
                            +input-material-required('text', 'Название компании <span class=star-required >*</span>')
                    .form__item
                        .form__subitem
                            +input-material-required('text', 'Контактное лицо <span class=star-required >*</span>')
                    .form__item
                        .form__subitem
                            +input-material('text', 'ИНН')
                    .form__item
                        .form__subitem
                            +input-material-required('email', 'Email <span class=star-required >*</span>')
                    .form__item
                        .form__subitem
                            .multi-mask
                                .input-material
                                    input(type='text' max-length="60" required)
                                    label= 'Контактный телефон'
                    
        .checkout-user__subscribe
            +checkbox('Даю согласие на получение информационных рассылок')

        .checkout-user__next
            button.btn(data-next-step) Следющий шаг


mixin checkout-delivery
    .checkout-delivery
        .checkout-delivery__tabs
            label
                input(type="radio" name="type-delivery" checked)
                div.box-radio
                    div.box-radio__text Самовывоз
                    div.box-radio__elem 
            label
                input(type="radio" name="type-delivery")
                div.box-radio
                    div.box-radio__text СДЭК
                    div.box-radio__elem
            label
                input(type="radio" name="type-delivery")
                div.box-radio
                    div.box-radio__text ТК и Почтой России
                    div.box-radio__elem
            label
                input(type="radio" name="type-delivery")
                div.box-radio
                    div.box-radio__text Быстрая доставка по СПБ и МСК
                    div.box-radio__elem

 
        .checkout-delivery__content

            .checkout-delivery__content-item.is-active
                .checkout-pickup
                    .checkout-pickup__list
                        .checkout-pickup-point(data-coordinates="59.91029756419331,30.313954499999973")
                            .checkout-pickup-point__title Санкт-Петербург, ул. Егорова, 25
                            .checkout-pickup-point__time Работает с 10:00 до 22:00
                            .checkout-pickup-point__select
                                button.btn.btn-line.btn-small(data-selected="Выбрано") Выбрать
                    
                        .checkout-pickup-point(data-coordinates="55.73571756901459,37.681712000000026")
                            .checkout-pickup-point__title Москва, Малая Калитниковская ул., д. 9
                            .checkout-pickup-point__time Работает с 10:00 до 22:00
                            .checkout-pickup-point__select
                                button.btn.btn-line.btn-small(data-selected="Выбрано") Выбрать
                    .checkout-pickup__map
                        div.ymap-container(id="map")

            //- -----------------------------
            .checkout-delivery__content-item
                .checkout-sdek
                    .checkout-field
                        .checkout-field__label Способ получения
                        .checkout-field__radio
                            +radio('Курьером')
                            +radio('до ПВЗ')
                        .checkout-field__label Данные получателя
                        .checkout-field__input
                            .input-material.input--suggest
                                input(type="text" name="city" autocomplete="off")
                                label Город <span class="star-required" >*</span>

            //- -----------------------------
            .checkout-delivery__content-item

                .checkout-post
                    .checkout-field
                        .checkout-field__label Способ получения
                        .checkout-field__radio
                            +radio('Почтой Росии')
                            +radio('ТК')
                        .checkout-field__label Данные получателя
                        .checkout-field__input
                            .input-material.input--suggest
                                input(type="text" name="city" autocomplete="off")
                                label Город <span class="star-required" >*</span>

            //- -----------------------------
            .checkout-delivery__content-item

                .checkout-fast
                    .form
                        .form__item
                            .form__subitem
                                .form__label Данные получателя
                        .form__item
                            .form__subitem
                                p Город <span class="star-required" >*</span>
                                select(name="city")
                                    option(value="") Москва
                                    option(value="") Санкт-Питербург
                               
                        .form__item
                            .form__subitem: +input-material("text", "Улица <span class=star-required >*</span>")
                        .form__item
                            .form__subitem: +input-material("text", "Дом <span class=star-required >*</span>")
                            .form__subitem: +input-material("text", "Квартира/Офис <span class=star-required >*</span>")
                        .form__item
                            .form__subitem
                                .form__label Комментарий
                        .form__item
                            .form__subitem: textarea(placeholder="")

        .checkout-delivery__next
            button.btn.btn-gray(data-prev-step) Предыдущий шаг
            button.btn(data-next-step) Следющий шаг

 
mixin checkout-pay
    .checkout-pay
        .checkout-delivery__tabs
            label
                input(type="radio" name="type-payment" checked)
                div.box-radio
                    div.box-radio__text Картой на сайте
                    div.box-radio__elem 
            label
                input(type="radio" name="type-payment")
                div.box-radio
                    div.box-radio__text Наличными
                    div.box-radio__elem
            label
                input(type="radio" name="type-payment")
                div.box-radio
                    div.box-radio__text Счет на оплату
                    div.box-radio__elem
            