mixin main-banner

    -
        const mainbanner = [
            {
                title: 'Спецодежда <br> для профессионалов',
                desc: 'Комфорт и функциональность <br> топовых брендов Европы и России',
                img: '/img/common/mb-desktop.jpg',
                imgNobile: '/img/common/mb-mobile.jpg'
            },
            {
                title: 'Рассрочка для бизнеса',
                desc: 'Бизнес и функциональность <br> топовых брендов Европы и России',
                img: '/img/common/cover_screen.jpg',
                imgNobile: '/img/common/cover_screen-mobile.jpg'
                button: 'Перейти',
            },
            {
                title: 'Промышленным предприятиям',
                desc: 'Бизнес и функциональность <br> топовых брендов Европы и России',
                img: '/img/common/dlr2.jpg',
                imgNobile: '/img/common/dlr2-mobile.jpg'
            },
            {
                title: 'Торговым партнерам',
                desc: 'Функциональность топовых брендов Европы и России',
                img: '/img/common/lines-main-bg.jpg',
                imgNobile: '/img/common/lines-main-bg-mobile.jpg'
            },
        ]

    section.section-main-banner
     
            .main-banner(data-mb="el")
                .main-banner__slider
                    .splide(data-slider="main-banner")
                        .splide__track
                            .splide__list
                                each item, index in mainbanner
                                    .splide__slide
                                        .main-banner__slide

                                            .main-banner__content
                                                .container
                                                    .main-banner__title!= item.title
                                                    .main-banner__desc!= item.desc
                                                    if item.button
                                                        .main-banner__btn
                                                            a(href='#'): button.btn= item.button

                                            .main-banner__picture
                                                picture
                                                    source(srcset=item.img type="image/jpeg" media='(min-width: 480px)')
                                                    if(index > 0)
                                                        img.lazyload(data-src=item.imgNobile  )
                                                    else
                                                        img(src=item.imgNobile  )
                .main-banner__nav(data-mb="nav")

